//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Comic Sans MS";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</fonts>=======================================================================================================

//<переменные для ширин контенера и цветов>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000000;
$headerMain: #ffffff;
$headerInv: #474646;


//<null>===============================================================================================
@import "null";

body {}

.wrapper {

	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

//<container>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (max-width: $md1 + px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}



//</standart style>====================================================================================================
@import "ui";
//<connect other style>====================================================================================================

@import "popup";
@import "header";
@import "footer";

//</connect theme>====================================================================================================
@import "light";

//<ЬФШТ ИДЩСЛ>====================================================================================================
.page {
	flex: 1 1 auto;
	margin: 75px 0px 0px 0px;
}


//===================================================================================================================================
//page-title start
.page-title {
	padding: 30px 20px;

}

.title-container {
	text-align: center;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: 50px;
		font-weight: 800;
		margin: 0px 0px 50px 0px;


	}

	h2 {
		font-size: 35px;
		font-weight: 700;
		margin: 0px 0px 40px 0px;


	}
}

.title-img {
	display: flex;
	max-width: 1170px;
	object-fit: cover;

	img {
		padding: 10px;
		max-width: 100%;


	}
}

//page-title end
//===================================================================================================================================
//catalog start

.catalog-header {
	margin: 0px auto;
}

.catalog-header__line {
	width: 100%;
	padding: 20px 10px;
}

.catalog-header__title {
	z-index: 10;
	font-size: 60px;
	font-weight: 800;
	margin: 0px 0px 20px 0px;

	@media (max-width: $md3+px) {
		font-size: 40px;
	}

}

.catalog-header__filter {
	max-width: 350px;

}

.filter__list {
	display: flex;
	justify-content: space-between;
}

.filter__link {
	text-decoration: underline;
}

.catalog-body {
	margin: 50px auto;
}

.catalog-body-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

//card
.catalog-card {
	flex: 1 1 25%;
	max-width: 250px;

	min-height: 100%;
	overflow: hidden;

	border-radius: 15px;
	margin: 10px;

	@media (max-width: $md3+px) {
		flex: 1 1 50%;
	}
}

.card-body {
	height: 100%;

	display: flex;
	flex-direction: column;

	padding: 0px 10px;
	// text-align: center;


}

.card-img {
	// padding: 10px;

	margin: 10px auto;
	height: 220px;

	img {
		// width: 150px;
		max-width: 180px;
		max-height: 220px;





	}
}

.card-info__title {
	margin: 10px 0px 10px 0px;
	flex: 1 1 auto;

	h3 {
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 120%;
	}

}

.card-info__subtitle {
	flex: 1 1 auto;

	h3 {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 120%;
	}
}

.card-price {
	padding: 10px 10px;
	font-size: 16px;
	font-weight: 800;
}

.card-data {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 120%;
	padding: 10px 10px;
}

.card-btn {
	margin: 30px auto;
}

.card-btn__link {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 120%;
	// color: black;
	background-color: orange;
	padding: 10px 35px;
	border: 1px solid black;
	border-radius: 10px;
	color: black;
	box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: .3);

	&:hover {
		background-color: rgb(192, 126, 3);
		box-shadow: 2px 2px 10px rgba($color: orange, $alpha: .8);
	}

}



//catalog end
//</ОСНОВНОЙ БЛОК>====================================================================================================
//btn up start

.btn-up {
	position: fixed;
	right: 20px;
	bottom: 50px;

	a {
		background-color: orange;
		color: black;
		font-size: 20px;
		font-weight: 700;
		padding: 5px 15px;
		border-radius: 10px;
		border: 1px solid black;

		&:hover {
			background-color: rgb(247, 183, 64);
		}

	}

}

//btn up end

///body block class
.modal-open {
	height: 100vh;
	overflow: hidden;
	padding-right: 17px;

}